body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

#container {
    border: 10px solid grey;
    border-radius: 10px;
    display: flex;
    height: 600px;
    width: 600px;
    flex-direction: column;
    margin: 16px;
}

.row,
.col {
    background: white;
    border: 1px solid black;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}